<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jws.app.operater.data.EmailVerifyMapper" >
  <resultMap id="BaseResultMap" type="com.jws.app.operater.model.EmailVerify" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="verify_code" property="verifyCode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, email, verify_code, create_time, update_time
  </sql>
  
  <insert id="insert" parameterType="com.jws.app.operater.model.EmailVerify" >
    insert into tb_email_verify (id, email, verify_code,   create_time)
    values (#{id}, #{email}, #{verifyCode},    #{createTime})
  </insert>
  
  <select id="queryNewestVerifyByEmail" parameterType="string" resultMap="BaseResultMap">
  select  allv.* from (
	  	select  
	  				<include refid="Base_Column_List"/>  				
	  	from  tb_email_verify 
	  	 where  email = #{email}  order by create_time desc   
  ) allv  limit 0,1	
  </select>
  
 </mapper>