<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jws.app.operater.data.UserLoginMapper" >
  <resultMap id="BaseResultMap" type="com.jws.app.operater.model.UserLogin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="validity" property="validity" jdbcType="BIT" />
    <result column="login_device" property="loginDevice" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, user_id, token, validity, login_device, create_time, update_time
  </sql>
  
  <insert id="insert" parameterType="com.jws.app.operater.model.UserLogin" >
    insert into tb_user_login (user_id, token,  validity, login_device, create_time)
    values (#{userId}, #{token},  #{validity}, #{loginDevice}, NOW())
  </insert>
  
  <update id="updateLogin" parameterType="com.jws.app.operater.model.UserLogin" >
    update tb_user_login
    	set  validity = #{validity}
    <where>
	   	<if test="userId != null" >
	   		and user_id = #{userId}
	   	</if>
       <if test="loginDevice != null" >
       		and login_device = #{loginDevice}
       </if>
        <if test="validityOld != null" >
       		and validity = #{validityOld}
       </if>
    </where>
  </update>
  
  
  
  
</mapper>